html.wait{transition:none}
.center{display:block;text-align:center}
.underline{text-decoration:underline}
.color-white{color:#fff}
.color-dk-teal{color:#006b71}
.container{padding-left:15px;padding-right:15px}
.well{margin-bottom:0;padding:0}
.full{display:block;width:100%;height:100%}
.no-style{background-color:transparent !important;background-image:none !important;border:none !important;list-style:none !important;text-decoration:none !important;border:none !important;border-radius:0 !important;-webkit-box-shadow:none !important;box-shadow:none !important}
.no-padding{padding:0 !important}
.no-margin{margin:0 !important}
.transition-all{-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.transition-background{-webkit-transition:background .4s ease;-moz-transition:background .4s ease;-o-transition:background .4s ease;transition:background .4s ease}
.show{display:block}
.hidden-android{display:none}
.hidden-ios{display:none}
.hidden-web{display:none}
.visible-web{display:block}
ul,li{list-style:none;margin:0;padding:0}
body{padding-top:60px;background-color:#e2e2e2 !important;font-family:'Lato',Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6,p,a,input,button,select,textarea,span{font-family:'Lato',Helvetica,sans-serif}
@media (min-width: 768px) and (max-width: 991px){.well{font-size:36px}
}@media (min-width: 992px) and (max-width: 1199px){.well{font-size:48px}
}@media (min-width: 1200px){.well{font-size:54px}
}.animation-navbar-open{-webkit-animation-name:animation-navbar-down;-moz-animation-name:animation-navbar-down;-o-animation-name:animation-navbar-down;-ms-animation-name:animation-navbar-down;animation-name:animation-navbar-down;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-webkit-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-o-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-ms-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}.animation-navbar-close{-webkit-animation-name:animation-navbar-up;-moz-animation-name:animation-navbar-up;-o-animation-name:animation-navbar-up;-ms-animation-name:animation-navbar-up;animation-name:animation-navbar-up;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-webkit-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-o-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-ms-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}.animation-panel-updates-open{-webkit-animation-name:animation-panel-updates-down;-moz-animation-name:animation-panel-updates-down;-o-animation-name:animation-panel-updates-down;-ms-animation-name:animation-panel-updates-down;animation-name:animation-panel-updates-down;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-webkit-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-o-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-ms-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}.animation-panel-updates-close{-webkit-animation-name:animation-panel-updates-up;-moz-animation-name:animation-panel-updates-up;-o-animation-name:animation-panel-updates-up;-ms-animation-name:animation-panel-updates-up;animation-name:animation-panel-updates-up;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-webkit-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-o-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-ms-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}.animation-body-open{-webkit-animation-name:animation-body-down;-moz-animation-name:animation-body-down;-o-animation-name:animation-body-down;-ms-animation-name:animation-body-down;animation-name:animation-body-down;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-webkit-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-o-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-ms-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}.animation-body-close{-webkit-animation-name:animation-body-up;-moz-animation-name:animation-body-up;-o-animation-name:animation-body-up;-ms-animation-name:animation-body-up;animation-name:animation-body-up;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-timing-function:ease;-moz-animation-timing-function:ease;-o-animation-timing-function:ease;-ms-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-moz-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-webkit-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-o-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-ms-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-moz-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-webkit-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-o-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-ms-keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@keyframes animation-navbar-down{0%{top:0}
100%{top:180px}
}@-moz-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-webkit-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-o-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-ms-keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@keyframes animation-navbar-up{0%{top:180px}
100%{top:0}
}@-moz-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-webkit-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-o-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-ms-keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@keyframes animation-panel-updates-down{0%{top:-180px}
100%{top:0}
}@-moz-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-webkit-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-o-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-ms-keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@keyframes animation-panel-updates-up{0%{top:0}
100%{top:-180px}
}@-moz-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-webkit-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-o-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-ms-keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@keyframes animation-body-down{0%{padding-top:60px}
100%{padding-top:240px}
}@-moz-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-webkit-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-o-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@-ms-keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}@keyframes animation-body-up{0%{padding-top:240px}
100%{padding-top:60px}
}#panel-updates{float:left;position:fixed;right:0;left:0;z-index:1030;height:180px;width:100%;background-color:#333;z-index:1000;-moz-box-shadow:inset 0 -2px 4px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 -2px 4px rgba(0,0,0,0.3);box-shadow:inset 0 -2px 4px rgba(0,0,0,0.3)}
.panel-updates-closed{top:-180px}
.panel-updates-opened{display:block;top:0}
#panel-updates-h1{margin-top:15px}
.input-group{width:100%}
.form-control{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;min-height:52px}
#input-email{width:100%}
#input-zip{width:100%}
#btn-updates-submit,#mc-embedded-subscribe{width:100%;height:52px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
#mc-embedded-subscribe{background-color:#039499;color:#fff;padding:0;border:1px solid #006b71}
#close-panel-updates{color:#fff;width:100%;font-size:36px;line-height:36px;text-align:right;margin-top:15px;cursor:pointer}
@media (max-width: 479px){#panel-updates{top:-180px;visibility:hidden;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}
#panel-updates-h1{margin-top:30px;color:#006b71}
#mc-embedded-subscribe{margin-top:15px}
}.navbar{background-color:rgba(3,148,153,0.75);margin-bottom:0;border:none}
.navbar-fixed-top{border-width:0}
.navbar-fixed-top-panel-opened{position:fixed !important;top:180px;right:0;left:0;z-index:1030;border-width:0;border-radius:0}
#container-nav-links{position:absolute;min-height:60px}
.navbar-nav,.navbar-nav>li,.navbar-nav>li>a{min-height:60px}
.navbar-nav>li>a{text-align:left;padding:0 15px 0 0;line-height:60px;text-shadow:none;color:#fff;font-size:16px;font-weight:300}
.nav>li>a:hover,.nav>li>a:focus{color:#f4b937;text-decoration:none;background-color:transparent}
.navbar-header{width:100%;margin-left:15px}
#container-brand{float:left;width:100%;position:initial;top:0;min-height:60px}
.navbar-brand{width:100%;min-height:60px;display:block;padding:0;text-indent:-9999px;background-image:url("../../img/lincoln-labs-logo.png");background-repeat:no-repeat;background-position:center center}
.navbar-btn-updates{width:100%;min-height:38px;display:block;text-align:center;margin-top:10px;color:#fff;font-size:16px;font-weight:300;line-height:38px;border:1px solid #fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.navbar-btn-updates:hover{color:#f4b937;background-color:#006b71;border-color:#f4b937}
.navbar-btn-updates:hover{text-decoration:none}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{color:#f4b937;background-color:transparent;border-color:none}
.dropdown-menu{background-color:#039499;border:none;border-top:1px solid #039499;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.175);box-shadow:0 2px 2px rgba(0,0,0,0.175);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.3);box-shadow:inset 0 2px 4px rgba(0,0,0,0.3)}
.dropdown-menu>li>a,.dropdown-menu>li>a{color:#fff}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:#f4b937;background-image:none;background-color:transparent}
.navbar-toggle{border:1px solid #fff;min-height:38px;margin-top:10px;margin-right:0;width:100%}
.navbar-toggle .icon-bar{border-top:1px solid #fff;border-bottom:1px solid #fff;width:100%}
.navbar-collapse{padding-left:0}
@media (max-width: 479px){#navbar,.navbar,.navbar-fixed-top-panel-opened,.animation-navbar-open{top:0 !important}
.navbar-header{margin-left:0;padding-left:0}
#container-nav-links{min-height:0}
.navbar-brand{background-position:left center;display:block !important}
.navbar-collapse{padding-left:15px}
.in,.collapsing{background-color:rgba(3,148,153,0.9);top:60px;width:100%}
.in>ul,.collapsing>ul{padding-left:15px;padding-right:15px}
}@media (min-width: 480px) and (max-width: 767px){.navbar-header{margin-left:0}
#container-nav-links{min-height:0}
.navbar-brand{background-position:left center;display:block !important}
.navbar-btn-updates{font-size:14px}
.navbar-collapse{padding-left:15px}
.in,.collapsing{background-color:rgba(3,148,153,0.9);top:60px;width:100%}
.in>ul,.collapsing>ul{padding-left:15px;padding-right:15px}
}@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){.navbar-brand{background-image:url("../../img/lincoln-labs-logo@2x.png");background-size:132px 40px}
}#footer-wrapper{float:left;width:100%;min-height:120px;background-color:#e2e2e2}
#footer{background-color:#e2e2e2}
#footer .row{margin-top:30px;padding-bottom:30px}
.footer-headline{font-size:16px;color:#ed573f;padding-top:5px;margin-bottom:15px}
.footer-a{width:100%;display:block;font-size:16px;color:#006b71;text-align:center}
.footer-a:hover{color:#f4b937;text-decoration:none}
#footer-middle-div{border-left:1px solid #006b71;border-right:1px solid #006b71}
#wrapper-about-content{width:100%;background-color:#e2e2e2;float:left;margin-top:240px}
#container-about-content{background-color:#fff;min-height:1000px;margin-top:-120px}
#wrapper-about-content p{color:#006b71;font-size:16px;font-weight:300}
#wrapper-about-content h3{color:#039499;margin-top:60px}
.character{background-color:#fff;border-bottom:1px solid #f1f1f1;box-sizing:border-box;overflow:hidden;padding:60px 60px 100px 60px;}
.character .left{display:inline-block;height:146px;margin-right:53px;vertical-align:top;width:146px}
.character .right{display:inline-block;max-width:800px}
.character-text{font-size:16px}
.character-img,.character-img img{display:block;margin:0 auto;}
.character-img h3,.character-img img h3{font-family:'Helvetica Neue',Helvetica,sans-serif;font-size:24px;font-weight:700;margin-bottom:34px}
.character-img p,.character-img img p{color:#006b71;font-weight:300;font-size:18px;line-height:24px}
.character-img p.first,.character-img img p.first{font-weight:500}
@media (max-width: 568px){.character .left{margin:0 0 20px 20px}
.character h3{margin-bottom:12px}
}